::-webkit-scrollbar{width: 10px}
::webkit-scrollbar-track{
  background-color:#000;
}
::webkit-scrollbar-thumb{
  background-color: #0cd;
  border-radius: 2px;
}
:root {
  --pointer: ;
}
body {
  background-color: #222;
  color: white;
  font-family: monospace;
  font-weight: lighter;
  font-size: 20px;
  user-select: none;
  overflow: scroll;
}
.popup {
  background-color: #333;
  color: #acd;
  display: inline;
  padding: 3vw;
  border: 3px solid #000;
  margin-left: 40vw;
  margin-top: 40vh;
  border-radius: 9px;
  position: fixed;
  font-size: 3vw;
}
button.clickMe {
  background-color: #0cd;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
}
.darken {
  padding-left: 50vw;
  padding-right: 50vw;
  padding-bottom: 50vh;
  padding-top: 50vh;
  background-color: #000;
  opacity: 0.5;
  position: fixed;
}
.fullWidth {
  width: 98vw;
}
.halfWidth {
  width: 50vw;
}
.floatRight {
  float: right;
}
.noBorder {
  border: none;
}
a {
  color: #0cf;
}
.hidden {
  display: none;
}
window {
  position: absolute;
  display: block;
  border: 1px solid #bcf;
  background-color: #000;
  touch-action: none;
  border-radius: 5px;
  overflow: auto;
  width: 50vw;
  height:25vw;
}
taskbar {
  display: block;
  background-color: #05f;
  cursor: move;
  touch-action: none;
  padding-left: 15px;
  border-radius: 3px;
}

div.bar {
  float: right;
  background-color: #aab;
  position: static;
  width: 30px;
  height: 98vh;
}
baritem {
  border-bottom: 1px solid #000;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

baritem.start {
  font-weight: bolder;
  font-size: 25px;
  border-bottom: 2px solid #05f;
  padding-right: 6px;
  background-color: #aad;
}
baritem.start:hover {
  background-color: #fff;
  color: #0cd;
}
ul.menu {
  position: absolute;
  right: 40px;
  width: 100px;
  background-color: #333;
  font-size: 10px;
}
ul li {
  list-style-type: none;
  left: -20px;
}
hin {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}
close {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #f10;
  background-color: #000;
}
close:hover {
  color: #f10;
  background-color: #fff;
}
button {
  border: 1px solid #00f;
  background-color: #333;
  color: #fff;
}
button:hover {
  background-color: #555;
}
button:active {
  border: 1px solid #fff;
}
