/* Code for hmm.ui */

.hmm-choose{
	background-color: #222;
	border-radius: 5px;
	padding: 5px;
	max-height:100px;
	overflow: auto;
	min-height: 20px;
}
.hmm-choose p{
	margin: none;
	background-color: #000;
	padding: 5px;
	border-radius: 5px;
}
.ctx-option{
	padding: 2.5px;
	background: #fff1;
	transition: background 0.3s;
	margin-bottom: 2px;
}
.ctx-option:hover{
	background: #05d;
}

input:not([type="checkbox"]){
	background: #000;
	border: 1px solid white;
	color:#fff;
	caret-color: #fff;
}

input:not([type="checkbox"]):focus{
	outline: 3px solid #05d;
}


:root {
	--cursor: url("cursors-arrow.png");
	--move: url("cursors-move.png");
}

body{
	cursor: var(--cursor) !important;
}